body {
    background-color: #bcdbf5;
    color: #202f4a;
    font-family: 'Times New Roman', Times, serif;
}

.name {
    font-family: cursive;
}

.about {
    padding-bottom: 40px;
    text-align: center;
}

.about_header {
    font-size: 60px;
    font-weight: 400;
    color: red;
}

.experience {
    padding-bottom: 40px;
}

.assistant_coach {
    background-color: white;
}

.python {
    background-color: white;
}

.java {
    background-color: white;
}

.html {
    background-color: white;
}

.css {
    background-color: white;
}

.c {
    background-color: white;
}

.experience_list {
    display: flex;
    background-color: #202f4a;
    color: black;
}

.experience_list div {
    width: 100px;
    padding: 5px 20px;
    text-wrap-mode: wrap;
    padding: 20px 20px;
}

.connect {
    padding-bottom: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

.instagram {
    color: red;
}

.linkedin {
    color: purple;
}

.github {
    color: pink;
}