/* all of body */
body {
    background-color: #bcdbf5;
    color: #202f4a;
    font-family: 'Times New Roman', Times, serif;
}

/* name  in top left corner */
.name {
    color:rgb(13, 43, 124);
}

/* about section */
.about {
    padding-bottom: 40px;
    text-align: center;
}

/* all section headers */
h2 {
    font-size: 60px;
    font-weight: 400;
    color: rgb(13, 43, 124);
}

/* experience section */
.experience {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

/* experiences */
.assistant_coach {
    width: auto;
    background-color: white;
    padding: 20px 20px;
}

.python {
    width: auto;
    color: white;
    padding: 20px 20px;
}

.java {
    width: auto;
    background-color: white;
    padding: 20px 20px;
}

.html {
    width: auto;
    color: white;
    padding: 20px 20px;
}

.css {
    width: auto;
    background-color: white;
    padding: 20px 20px;
}

.c {
    width: auto;
    color: white;
    padding: 20px 20px;
}

/* experience list */
.experience_list {
    display: flex;
    background-color: #202f4a;
    color: black;
    padding: 20px 20px;
}

/* experience list elements */
.experience_list div {
    width: 70px;
    padding: 5px 20px;
}

/* connect section */
.connect {
    padding-bottom: 40px;
}

/* connect section elements */
.connect div {
    display: flex;
    margin: 10px;
    background-color: white;
    align-items: center;
    height: 50px;
    width: 100px;
}

/* connect links */
.email {
    padding: 5px 10px;
    color:#202f4a;
}

.instagram {
    padding: 5px 10px;
    color: red;
}

.linkedin {
    padding: 5px 10px;
    color: purple;
}

.github {
    padding: 5px 10px;
    color: pink;
}

/* small screen */
@media (max-width: 449px) {
    /* skills list */
    .skills-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* skills list elements */
    .skills-list li{
        margin: 10px;
        border-width: 5px;
    }

    /* messages list */
    #messages_list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
    }

    /* submit and remove buttons */
    button[type="button"] {
        width: 100%;
        padding: 20px;
        font-size: 20px;
    }

    /* message form inputs boxes */
    .input {
        width: 100%;
        padding: 10px;
        font-size: 20px;
    }

    /* projects list */
    #projects_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
    }

    /* projects list elements */
    #projects_list li{
        background-color: white;
        width: max-content;
        padding: 20px;
    }
}

/* large screen */
@media (min-width: 450px) {
    /* skills list */
    .skills-list{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    /* skills list elements */
    .skills-list li{
        margin: 10px;
    }

    /* messages list */
    #messages_list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
    }

    /* message form inputs boxes */
    .input {
        margin: 10px 0px;
    }

    /* projects list */
    #projects_list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: 500px;
    }

    /* projects list elements */
    #projects_list li{
        background-color: white;
        width: auto;
        padding: 20px;
    }
}